name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  heffte_cpu:
    strategy:
      matrix:
        maker: [cmake, spack]
        backend: [BUILTIN, FFTW, MKL, ONEAPI]
        exclude: # spack package doesn't support gpu_intel
          - maker: spack
            backend: ONEAPI
      fail-fast: false
    runs-on: cpu
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: .github/workflows/build-${{matrix.maker}}.sh build ${{matrix.backend}}
      - name: Test
        run: .github/workflows/build-${{matrix.maker}}.sh test ${{matrix.backend}}
      - name: SmokeTest
        run: .github/workflows/build-${{matrix.maker}}.sh smoketest ${{matrix.backend}}
  heffte_gpu:
    strategy:
      matrix:
        maker: [cmake, spack]
        device: [gpu_nvidia, gpu_amd, gpu_intel]
        exclude: # spack package doesn't support gpu_intel
          - maker: spack
            device: gpu_intel
      fail-fast: false
    runs-on: ${{matrix.device}}
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: .github/workflows/build-${{matrix.maker}}.sh build ${{matrix.device}}
      - name: Test
        run: .github/workflows/build-${{matrix.maker}}.sh test ${{matrix.device}}
      - name: SmokeTest
        run: .github/workflows/build-${{matrix.maker}}.sh smoketest ${{matrix.device}}
